@import "../../global.scss";

.Navbar {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 10%;
    min-height: 50px;
    border-radius: 10px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-position: 0px 0px;
    background-image: linear-gradient(88deg, rgb(17, 17, 49) 0%, rgb(33, 38, 90) 100%);

    .leftContainer {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .button {
            box-sizing: border-box;
            background-color: rgb(231, 223, 223);
            width: 25%;
            height: 60%;
            color: black;
            text-decoration: none;
            font-weight: 500;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;

            &.about {
                background-color: #13aaaa;

                &:hover {
                    color: #13aaaa;
                    border: 2px solid #13aaaa;
                }

            }

            &.home {
                background-color: #60c960;

                &:hover {
                    color: #60c960;
                    border: 2px solid #60c960;
                }

            }

            &:hover {
                background: none;
                color: white;
                border: 2px solid white;
            }

            @include notebook {
                width: 30%;
                font-size: 13px;
            }
        }

        .menuBtn {
            background: transparent;
            width: 40px;
            height: 40px;
            border: none;
            display: none;
            cursor: pointer;

            .icon {
                color: white;
                font-size: 40px;

                &:hover {
                    filter: drop-shadow(2px 2px 5px rgb(255, 255, 255));
                }
            }
        }



    }

    .rightContainer {
        position: relative;
        width: auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .searchbar {
            width: 100%;
            height: 30px;
            background-color: white;
            border-radius: 10px;
            display: flex;
            align-items: center;

            .searchIcon {
                font-size: 20px;
                margin-left: 10px;

            }

            .searchInput {
                border: none;
                width: 100%;

                &:focus {
                    outline: none;

                }
            }
        }

        .userContainer {
            box-sizing: border-box;
            width: auto;
            height: 80%;
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 0 10px;
            border-radius: 10px;

            .username {
                color: white;
                font-size: 20px;
                cursor: default;
            }

            .imgContainer {
                height: 40px;
                width: 40px;
                border-radius: 50%;
                border: 2px solid white;
                cursor: pointer;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
        }

        .link {
            width: 75px;
            height: 60%;
            text-decoration: none;

            .loginButton {
                box-sizing: border-box;
                background-color: rgb(27, 93, 158);
                width: 100%;
                height: 100%;
                color: white;
                font-size: 19px;
                font-weight: 400;
                border: 2px solid white;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }
        }


    }

    &.search {
        .leftContainer {
            width: auto;

            a {
                color: white;
                text-decoration: none;
                font-size: 22px;
                font-weight: 500;
            }
        }

        .rightContainer {
            width: 60%;
        }

        @include mobile {
            justify-content: center;

            .leftContainer {
                display: none;
            }

            .rightContainer {
                width: 90%;
            }
        }
    }

    @include tablet {
        .leftContainer {
            justify-content: flex-start;

            .button {
                display: none;
            }

            .menuBtn {
                display: block;
            }
        }

        .rightContainer {

            .userContainer {
                padding: 0;
            }
        }
    }

    @include mobileTurned {
        height: 18%;
    }
}