.addPlayer{
    background-color: dodgerblue;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    .input{
        box-sizing: border-box;
        padding-left: 10px;
        width: 80%;
        height: 10%;
    }

}