.modalContainer{
    background-color: #000000d5;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .iconClose {
        color: white;
        font-size: 25px;
        border-radius: 5px;
        background-color: rgb(233, 17, 17);
        position: absolute;
        top: 25px;
        right: 25px;
    }

    .containerBottom{
        background-color: red;
        width: 264px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .icon{
            background-color: white;
            width: 40px;
            height: 40px;
        }
    }
}