@import "../../global.scss";

.game {
  //background-color: white;
  height: 80%;
  min-height: 450px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;

    .score {
      align-self: flex-start;
      width: 150px;
      height: 50px;
      margin: 0px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      h1 {
        height: 100%;
        display: flex;
        align-items: center;
        color: rgb(255, 255, 255);
        text-shadow: rgb(64, 116, 181) 2px 2px 0px,
          #234a79 2px -2px 0px,
          #234a79 -2px 2px 0px,
          #234a79 -2px -2px 0px,
          #234a79 2px 0px 0px,
          #234a79 0px 2px 0px,
          #234a79 -2px 0px 0px,
          #234a79 0px -2px 0px;
        --darkreader-inline-color: #e8e6e3;
        --darkreader-inline-bgimage: initial;
        --darkreader-inline-bgcolor: #181a1b;
      }


    }

    h2 {
      width: 40px;
      height: 40px;
      color: white;
      font-weight: 500;
      border-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #24316b;
      border: 2px white solid;
    }
  }

  .skipButton {
    background: rgb(57, 34, 34);
    background: linear-gradient(45deg, rgba(57, 34, 34, 1) 0%, rgba(110, 35, 35, 1) 39%, rgba(176, 43, 43, 1) 99%);
    width: 150px;
    height: 50px;
    font-size: 25px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:disabled{
      background: #a5ddbb;
      color: rgb(155, 140, 140);
      cursor: not-allowed;
    }
  }

  @include mobile {
    height: 90%;
    justify-content: space-between;
  }
}