@import "./global.scss";

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;



    background-color: rgb(20, 70, 121);
    background-image:
        repeating-linear-gradient(315deg, #918d9e52 92%, #3700ff00 100%),
        repeating-linear-gradient(-315deg, #00FFFF2E 92%, #073AFF00 100%);


}

.PageContainer {
    width: 75%;
    max-width: 1100px;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .playButton{
        box-sizing: border-box;
        background-color: rgb(231, 223, 223);
        color: black;
        font-weight: 500;
        font-size: 30px;
        text-decoration: none;
        border-radius: 5px;
        border: 3px solid black;
        padding: 20px 40px;

        &:hover{
            background-color: rgba(36, 36, 88, 0.521);
            color: white;
            border: 3px solid white;
        }
    }

    @include mobile{
        width: 90%;
    }
    @include mobileTurned{
        height: 100%;
        justify-content: space-around;
    }
}